.custom-card {
    background-color: #efefef;
}

.form-control:focus, .form-control:focus-visible, button:active{
    box-shadow: none !important;
}

.form-control::placeholder {
    font-style: italic;
}
